<div class="rmr-extension-settings">
	<div class="inline-drawer">
		<div class="inline-drawer-toggle inline-drawer-header">
			<b>ReMemory</b>
			<div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
		</div>
		<div class="inline-drawer-content">
			<h4>Message Buttons</h4>
			<div class="rmr-extension_block">
				<label class="checkbox_label" for="rmr_log_button">
					<span class="rmr-button fa-solid fa-fw fa-book-bookmark"></span>
					<input id="rmr_log_button" class="checkbox" type="checkbox" />
					Log Message
				</label>
				<label class="checkbox_label" for="rmr_memory_button">
					<span class="rmr-button fa-solid fa-fw fa-brain"></span>
					<input id="rmr_memory_button" class="checkbox" type="checkbox" /> Generate Memory
				</label>
				<label class="checkbox_label" for="rmr_scene_button">
					<span class="rmr-button fa-solid fa-fw fa-circle-stop"></span>
					<input id="rmr_scene_button" class="checkbox" type="checkbox" />
					End Scene
				</label>
			</div>
			<hr>
			<h4>Memory Settings</h4>
			<div class="rmr-extension_block">
				<div class="flex-container marginTopBot5">
					<div title="How many previous messages to include when generating a new memory." class="flex-container flex1 flexFlowColumn">
						<label for="rmr_memory_span">
							<small>Memory Span</small>
						</label>
						<input max="99" min="0" class="text_pole" id="rmr_memory_span" type="number">
					</div>
					<div title="Insertion depth for memory entries." class="flex-container flex1 flexFlowColumn">
						<label for="rmr_memory_depth">
							<small>Memory Depth</small>
						</label>
						<input max="99" min="0" class="text_pole" id="rmr_memory_depth" type="number">
					</div>
					<div title="The 'sticky' value for the memory entry - how many messages it'll stay active for after being activated." class="flex-container flex1 flexFlowColumn">
						<label for="rmr_memory_life">
							<small>Stickiness</small>
						</label>
					<input max="99" min="0" class="text_pole" id="rmr_memory_life" type="number">
					</div>
					<div title="How often a memory should activate when potentially triggered. Value is a percentage." class="flex-container flex1 flexFlowColumn">
						<label for="rmr_trigger_pct">
							<small>Trigger %</small>
						</label>
						<input max="100" min="1" class="text_pole" id="rmr_trigger_pct" type="number">
					</div>
					<div title="Which role memory entries will be set to by default." class="flex-container flex1 flexFlowColumn">
						<small>Memory Role</small>
						<select class="text_pole widthNatural" id="rmr_memory_role">
						</select>
					</div>
				</div>
			</div>
			<hr>
			<div class="rmr-extension_block flex-container marginTopBot5">
				<div title="A string which will be added to the beginning of all memory entries." class="flex-container flex1 flexFlowColumn">
					<label for="rmr_memory_prefix">
						<small>Memory Prefix</small>
					</label>
					<textarea placeholder="" rows="1" class="margin0 text_pole textarea_compact" id="rmr_memory_prefix"></textarea>
				</div>
				<div title="A string which will be appended to the end of all memory entries." class="flex-container flex1 flexFlowColumn">
					<label for="rmr_memory_suffix">
						<small>Memory Suffix</small>
					</label>
					<textarea placeholder="" rows="1" class="margin0 text_pole textarea_compact" id="rmr_memory_suffix"></textarea>
				</div>
			</div>
			<hr>
			<h4>API</h4>
			<div class="rmr-extension_block">
				<div>
					Connection Profile override
					<select class="text_pole widthNatural" id="rmr_profile">
						<option value="">-- No Override --</option>
					</select>
				</div>
				<div title="Temporarily switch to this SillyTavern API settings preset while ReMemory generates summaries and keywords.">
					Preset override
					<select class="text_pole widthNatural" id="rmr_preset">
						<option value="">-- Current Preset --</option>
					</select>
				</div>
				<div title="Instead of sending the ReMemory instruction as SillyTavern's special quiet prompt, temporarily write it into this existing preset prompt slot during generation. Use this when your jailbreak only works if the instruction appears inside the preset order.">
					Preset prompt slot override
					<select class="text_pole widthNatural" id="rmr_prompt_slot">
						<option value="">-- Use Quiet Prompt --</option>
					</select>
				</div>
				<div title="Use SillyTavern's normal quiet-generation pipeline so the active connection profile and prompt/preset setup can apply to memory generation too.">
					<label class="checkbox_label" for="rmr_use_quiet_preset_generation">
						<input id="rmr_use_quiet_preset_generation" class="checkbox" type="checkbox" />
						Use preset-aware quiet generation
					</label>
				</div>
				<label for="rmr_rate_limit">
					<span>Max Requests per Minute</span>
					<input class="text_pole widthUnset" id="rmr_rate_limit" type="number">
				</label>
			</div>
			<hr>
			<div class="rmr-extension_block flex-container flexFlowColumn">
				<div title="The prompt appended to a section of message history when generating a summary." class="flex-container flex1 flexFlowColumn">
					<label for="rmr_memory_prompt_template">
						<small>Summary Prompt</small>
					</label>
					<textarea placeholder="" rows="5" class="margin0 text_pole textarea_compact" id="rmr_memory_prompt_template"></textarea>
				</div>
				<div title="The prompt appended to a new memory message when generating triggering keywords." class="flex-container flex1 flexFlowColumn">
					<label for="rmr_keywords_prompt_template">
						<small>Keyword Prompt</small>
					</label>
					<textarea placeholder="" rows="5" class="margin0 text_pole textarea_compact" id="rmr_keywords_prompt_template"></textarea>
				</div>
				<div title="Whether to allow or remove any generated keywords which match the persona or card(s) names." class="flex-container flex1 flexFlowColumn">
					<label class="checkbox_label" for="rmr_allow_names">
						<input id="rmr_allow_names" class="checkbox" type="checkbox" />
						Allow card/persona names as keywords
					</label>
				</div>
			</div>
			<hr>
			<h4>"Pop-Up" Memories</h4>
			<div class="rmr-extension_block flex-container marginTopBot5">
				<div title="Create an extra, low-chance, constant-activation copy of the memory entry." class="flex-container flex1 flexFlowColumn">
					<label class="checkbox_label" for="rmr_popup_memories">
						<input id="rmr_popup_memories" class="checkbox" type="checkbox" />
						Create "Pop-Up" memories
					</label>
					<label for="rmr_popup_pct">
						<input max="100" min="1" class="text_pole widthUnset" id="rmr_popup_pct" type="number">
						<span>Trigger %</span>
					</label>
				</div>
				<div title="Subtracts the set % from all pop-up memories every time a scene is ended." class="flex-container flex1 flexFlowColumn">
					<label class="checkbox_label" for="rmr_fade_memories">
						<input id="rmr_fade_memories" class="checkbox" type="checkbox" />
						Enable memory fading
					</label>
					<label for="rmr_fade_pct">
						<input max="100" min="1" class="text_pole widthUnset" id="rmr_fade_pct" type="number">
						<span>Fade %</span>
					</label>
				</div>
			</div>
			<hr>
			<h4>Scene Ending</h4>
			<div class="rmr-extension_block">
				<label class="checkbox_label" for="rmr_hide_scene">
					<input id="rmr_hide_scene" class="checkbox" type="checkbox" />
					Hide Summarized Messages
				</label>
				<label class="checkbox_label" for="rmr_add_chunk_summaries">
					<input id="rmr_add_chunk_summaries" class="checkbox" type="checkbox" />
					Add chunk summaries (when there are more than one) as comment
				</label>
				<span>
					Scene summary behavior:
					<select class="text_pole widthNatural" id="rmr_scene_end_mode">
					</select>
				</span>
			</div>
			<hr>
		</div>
	</div>
</div>
